# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# cache
**/__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/
ENV/
env/
.virtualenvs/

# PyCharm
.idea/
*.iml
*.iws
.idea_modules/

# VS Code
.vscode/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/